name: Generate
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
  id-token: write
"on":
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
      set_version:
        description: optionally set a specific SDK version
        type: string
  schedule:
    - cron: 0 0 * * *
jobs:
  # we run this only for version branches, where we set tag to the YYYY.MM value,
  # for main brach we do not use it as it's always a pre-release version like 0.0.0-dev
  # get-npm-tag:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     npm_tag: ${{ steps.extract.outputs.tag }}
  #   steps:
  #     - name: Extract npm tag from branch name
  #       id: extract
  #       run: |
  #         BRANCH="${{ github.ref_name }}"
  #         if [[ "$BRANCH" == versions/* ]]; then
  #           echo "tag=${BRANCH#versions/}" >> $GITHUB_OUTPUT
  #         fi
  generate:
    # needs: get-npm-tag
    uses: moovfinancial/sdk-generation-action/.github/workflows/workflow-executor.yaml@main
    with:
      force: ${{ github.event.inputs.force }}
      mode: direct
      set_version: ${{ github.event.inputs.set_version }}
      # we set the tag for the published package to dev for the main branch
      npm_tag: dev
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
